Repository tasmota/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)

Update toolchains to 15.2.0
  tools/tools.json
Due: build_docs_html_partial

feat(build): propagate compiler flags from files to toolchain.cmake
  components/esp_hw_support/CMakeLists.txt
  components/riscv/project_include.cmake
  components/soc/project_include.cmake
  components/ulp/esp32ulp_mapgen.py
  tools/cmake/project.cmake
  tools/cmake/targets.cmake
  tools/cmake/toolchain-esp32.cmake
  tools/cmake/toolchain-esp32c2.cmake
  tools/cmake/toolchain-esp32c3.cmake
  tools/cmake/toolchain-esp32c5.cmake
  tools/cmake/toolchain-esp32c6.cmake
  tools/cmake/toolchain-esp32c61.cmake
  tools/cmake/toolchain-esp32h2.cmake
  tools/cmake/toolchain-esp32h21.cmake
  tools/cmake/toolchain-esp32h4.cmake
  tools/cmake/toolchain-esp32p4.cmake
  tools/cmake/toolchain-esp32s2.cmake
  tools/cmake/toolchain-esp32s3.cmake
  tools/cmake/toolchain.cmake
  tools/cmake/toolchain_flags.cmake
Due: build_docs_html_partial

Update version number to 5.5.2.260206
  version.txt
Due: none

ci: skip upgrade addition third party libs while target-tests
  .gitlab/ci/common.yml
Due: none

feat(ble): support for ble module stripping on ESP32-C2
  components/bt/controller/esp32c2/ble_dummy.h
  components/bt/controller/esp32c2/bt.c
  components/bt/controller/esp32c2/dummy.c
  components/bt/controller/esp32c2/esp_bt_cfg.h
Due: build_docs_html_partial

feat(ble): apply new method for rom code logic change on ESP32-C2
  components/bt/controller/esp32c2/ble_dummy.h
  components/bt/controller/esp32c2/bt.c
  components/esp_rom/esp32c2/ld/esp32c2.rom.ble-eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ble.ld
Due: build_docs_html_partial

feat(esp_https_ota): Skipped read_header and write for custom partition
  components/esp_https_ota/src/esp_https_ota.c
Due: none

feat(wifi): add csi lltf bit mode config
  components/esp_wifi/include/esp_wifi_he_types.h
Due: build_docs_html_partial

feat(example): add cache safe check for wifi powersave example CI
  examples/wifi/power_save/sdkconfig.ci.default
Due: none

fix esp_https_ota_begin(): implements handling of HttpStatus_PartialContent-code 206
  components/esp_https_ota/src/esp_https_ota.c
Due: none

fix(esp_https_ota): handle ota resumption if server dosent support range requests
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/include/esp_http_client.h
  components/esp_https_ota/src/esp_https_ota.c
  examples/system/ota/advanced_https_ota/pytest_advanced_ota.py
Due: build_docs_html_partial

ci(p4): use eco6 by default
  components/bootloader/subproject/CMakeLists.txt
  components/bootloader/subproject/main/ld/esp32p4/bootloader.ld.in
  components/bootloader/subproject/main/ld/esp32p4/bootloader.rev0_2.ld.in
  components/esp_hw_support/port/esp32p4/Kconfig.hw_support
  components/esp_rom/CMakeLists.txt
  components/esp_rom/esp32p4/ld/esp32p4.rom.eco0_4.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.eco0_4.libc.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.eco0_4.libgcc.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.eco0_4.newlib.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.eco0_4.rvfp.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.eco5.libgcc.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.eco5.rvfp.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.libc.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.libgcc.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.newlib.ld
  components/esp_rom/esp32p4/ld/esp32p4.rom.rvfp.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

feat(partition_ota): Modified pytest for storage data
  components/esp_https_ota/src/esp_https_ota.c
  examples/system/ota/partitions_ota/test/storage.bin
Due: none

feat(soc): update esp32s31 lowpower related soc
  components/soc/esp32s31/register/soc/lp_wdt_reg.h
  components/soc/esp32s31/register/soc/pmu_reg.h
  components/soc/esp32s31/register/soc/pmu_struct.h
  components/soc/esp32s31/register/soc/rtc_timer_reg.h
  components/soc/esp32s31/register/soc/rtc_timer_struct.h
  components/soc/esp32s31/register/soc/rtc_wdt_reg.h
  components/soc/esp32s31/register/soc/rtc_wdt_struct.h
Due: build_docs_html_partial

change(soc): remove deprecated macros in soc/rtc.h
  components/esp_hw_support/port/esp32c2/include/soc/rtc.h
  components/esp_hw_support/port/esp32c3/include/soc/rtc.h
  components/esp_hw_support/port/esp32c5/include/soc/rtc.h
  components/esp_hw_support/port/esp32c6/include/soc/rtc.h
  components/esp_hw_support/port/esp32c61/include/soc/rtc.h
  components/esp_hw_support/port/esp32h2/include/soc/rtc.h
  components/esp_hw_support/port/esp32h21/include/soc/rtc.h
  components/esp_hw_support/port/esp32h4/include/soc/rtc.h
  components/esp_hw_support/port/esp32p4/include/soc/rtc.h
  components/esp_hw_support/port/esp32s31/include/soc/rtc.h
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial

feat(soc): update s31 pmu_struct.h manually
  components/soc/esp32s31/register/soc/pmu_struct.h
Due: build_docs_html_partial

fix(ble_mesh):fixed nimble connection failed
  components/bt/esp_ble_mesh/core/nimble_host/adapter.c
Due: none

feat(mipi_dsi): allow to use dma2d in example when flash is encrypted
  docs/en/api-reference/peripherals/lcd/dsi_lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/dsi_lcd.rst
  examples/peripherals/lcd/mipi_dsi/main/idf_component.yml
  examples/peripherals/lcd/mipi_dsi/main/mipi_dsi_lcd_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(esp_driver_uart): enable pad sleep clock in uart_wakeup_setup function
  components/esp_driver_uart/src/uart.c
  components/esp_driver_uart/src/uart_wakeup.c
Due: none

fix(app_trace): implement uart TX without using ISR
  components/app_trace/port/port_uart.c
  examples/system/.build-test-rules.yml
  examples/system/app_trace_basic/pytest_app_trace_basic.py
  examples/system/gcov/pytest_gcov.py
  examples/system/sysview_tracing/pytest_sysview_tracing.py
  examples/system/sysview_tracing/sdkconfig.ci.sysview_uart
  examples/system/sysview_tracing_heap_log/pytest_sysview_tracing_heap_log.py
Due: none

fix(build): ensure the main component exists when MINIMAL_BUILD is enabled
  docs/en/api-guides/build-system.rst
  tools/cmake/project.cmake
  tools/test_build_system/test_components.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(mbedtls): Revised ECDSA verify HW config check
  components/mbedtls/port/include/mbedtls/esp_config.h
Due: build_docs_html_partial

fix(pm): fix crash issue of esp32 caused by accessing flash in sleep wake process
  components/esp_hw_support/linker.lf
Due: none

feat(app_update): add API for checking the spi mode compatibility
  components/app_update/esp_ota_ops.c
  components/app_update/include/esp_ota_ops.h
  components/app_update/test_apps/test_app_update/main/test_ota_ops.c
  components/esp_app_format/esp_app_desc.c
  components/esp_app_format/include/esp_app_desc.h
  components/esp_common/src/esp_err_to_name.c
  components/esp_https_ota/Kconfig
  components/esp_https_ota/src/esp_https_ota.c
  components/esptool_py/Kconfig.projbuild
  docs/en/api-reference/system/app_image_format.rst
  docs/zh_CN/api-reference/system/app_image_format.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

tests(ota): fix advanced ota case for matching chip id
  examples/system/ota/advanced_https_ota/pytest_advanced_ota.py
Due: none

feat(esp_tee): Remove unused components from the PSA Crypto library
  components/mbedtls/esp_tee/esp_tee_mbedtls.cmake
  components/mbedtls/esp_tee/esp_tee_mbedtls_config.h
  components/mbedtls/port/include/mbedtls/esp_config.h
  components/mbedtls/port/psa_driver/esp_mac/psa_crypto_driver_esp_hmac_transparent.c
Due: build_docs_html_partial

ci(esp_tee): Removed `common_components` dependency from ESP-TEE test-apps
  components/esp_tee/test_apps/.build-test-rules.yml
  examples/security/.build-test-rules.yml
Due: none

fix(mbedtls): Support truncated HMAC
  components/mbedtls/port/psa_driver/esp_mac/psa_crypto_driver_esp_hmac_transparent.c
  components/mbedtls/test_apps/main/test_psa_hmac.c
Due: none

docs: Change PDF to HTML in access description
  docs/README.md
  docs/README_CN.md
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

ci: use common workflow that auto-cancel earlier MR pipelines
  .gitlab-ci.yml
  .gitlab/ci/common.yml
  .gitlab/ci/docs.yml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

ci: replace custom gen_disabled_report.py to idf-ci build collect report
  .gitlab/ci/build.yml
  tools/ci/exclude_check_tools_files.txt
  tools/ci/gen_disabled_report.py
Due: none

ci: streamline before_script for macos runners
  .gitlab/ci/common.yml
Due: none

fix(tests): gdbstub: test 'next' command for every target
  tools/test_apps/system/gdbstub_runtime/pytest_gdbstub_runtime.py
Due: none

ci: compatible with macos base64 version
  .gitlab/ci/common.yml
  tools/ci/dynamic_pipelines/templates/test_child_pipeline.yml
  tools/ci/utils.sh
Due: none

docs: Update CN translation
  docs/zh_CN/api-guides/build-system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full
