Repository tasmota/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)

fix(nimble): Fix tinycrypt compilation issues when enabled
  components/bt/host/nimble/Kconfig.in
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

feat(tools): esp-idf-sbom integration into idf.py
  docs/en/api-guides/tools/idf-sbom.rst
  tools/idf.py
  tools/requirements/requirements.core.txt
  tools/test_build_system/test_common.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

refactor(protocols): Removed the common_component dependency
  components/esp_http_client/test_apps/.build-test-rules.yml
  components/mbedtls/test_apps/.build-test-rules.yml
  examples/protocols/.build-test-rules.yml
Due: none

fix(usb_device): Enable compile warning on device examples
  examples/peripherals/usb/device/tusb_composite_msc_serialdevice/CMakeLists.txt
  examples/peripherals/usb/device/tusb_console/CMakeLists.txt
  examples/peripherals/usb/device/tusb_serial_device/CMakeLists.txt
Due: none

fix(cmakev2): Skip test_minimal_build_without_main_component for cmakev2
  tools/test_build_system/test_components.py
Due: none

change(version): Update version to 5.5.3
  .gitlab/ci/common.yml
  components/esp_common/include/esp_idf_version.h
  tools/cmake/version.cmake
Due: build_docs_html_partial

fix(mbedtls): fix MBEDTLS_POLY1305_C build config
  components/mbedtls/Kconfig
  components/mbedtls/config/mbedtls_preset_default.conf
  components/mbedtls/port/include/mbedtls/esp_config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(esp_system): Fix flaky tests with memory leak in sleep test
  components/esp_system/test_apps/esp_system_unity_tests/main/test_sleep.c
Due: none

fix(cmakev2): Fixed test_hint_components_loading for buildv2
  tools/test_build_system/test_common.py
Due: none

fix(mbedtls/test_apps): Enabling psram test for esp32p4
  components/mbedtls/test_apps/.build-test-rules.yml
Due: none

feat(cmakev2): add config-report target
  tools/cmakev2/kconfig.cmake
  tools/cmakev2/project.cmake
Due: none

fix(partition_table): Fixed linux build for Build System v2
  components/partition_table/CMakeLists.txt
Due: build_docs_html_partial

fix(esp-tls): Fixed linux build for Build System v2
  components/esp-tls/CMakeLists.txt
Due: build_docs_html_partial

fix(tcp_transport): Fixed linux build for Build System v2
  components/tcp_transport/CMakeLists.txt
Due: build_docs_html_partial

fix(bootloader_support): Require micro-ecc only for BOOTLOADER_BUILD
  components/bootloader_support/CMakeLists.txt
Due: build_docs_html_partial

test(cmakev2): Enable test_build_loadable_elf for buildv2
  tools/test_build_system/test_build.py
Due: none

feat(esp_trace): add usb-serial-jtag as a transport channel
  components/esp_trace/CMakeLists.txt
  components/esp_trace/Kconfig
  components/esp_trace/adapters/transport/adapter_transport_usb_serial_jtag.c
  components/esp_trace/include/esp_trace_types.h
  components/esp_trace/include/esp_trace_util.h
  components/esp_trace/linker.lf
  components/esp_trace/src/ports/port_utils.c
  examples/system/sysview_tracing/main/sysview_tracing.c
  examples/system/sysview_tracing/pytest_sysview_tracing.py
  examples/system/sysview_tracing/sdkconfig.ci.sysview_jtag
  examples/system/sysview_tracing/sdkconfig.ci.sysview_uart
  examples/system/sysview_tracing/sdkconfig.ci.sysview_uart_esp32c2_26Mhz
  examples/system/sysview_tracing/sdkconfig.ci.sysview_usj
  examples/system/sysview_tracing/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

ci: skip esp32p4 jtag tests due to lack of eco6 runners
  examples/system/.build-test-rules.yml
  examples/system/app_trace_basic/pytest_app_trace_basic.py
  examples/system/gcov/pytest_gcov.py
  examples/system/sysview_tracing/pytest_sysview_tracing.py
  examples/system/sysview_tracing_heap_log/pytest_sysview_tracing_heap_log.py
Due: none

fix(ulp): correct ULP LP and RISCV interrupt wait cycle duration
  components/ulp/lp_core/lp_core/include/ulp_lp_core_utils.h
  components/ulp/lp_core/lp_core/lp_core_i2c.c
  components/ulp/lp_core/lp_core/lp_core_spi.c
  components/ulp/lp_core/lp_core/lp_core_uart.c
  components/ulp/ulp_riscv/ulp_core/include/ulp_riscv_utils.h
  components/ulp/ulp_riscv/ulp_core/ulp_riscv_i2c.c
  components/ulp/ulp_riscv/ulp_riscv_i2c.c
Due: build_docs_html_partial

fix(usb_device_ncm): Fix example support for iOS devices
  examples/peripherals/usb/device/tusb_ncm/main/tusb_ncm_main.c
Due: none

change(spiffs): upgrade spiffs module to 0.2-265-gad902ca version
  .gitmodules
Due: none

fix(https_request): Fixed CI failure for https_request example
  examples/protocols/https_request/sdkconfig.defaults
Due: none

pioarduino IDF 5.5.3
  .github/workflows/dangerjs.yml
  .github/workflows/release_zips.yml
  components/esp_eth/CMakeLists.txt
  components/esp_eth/include/esp_eth_phy.h
  components/esp_eth/src/phy/esp_eth_phy_jl1101.c
  components/esp_hw_support/mac_addr.c
  components/esp_psram/esp32/esp_psram_impl_quad.c
  components/soc/esp32c2/include/soc/soc.h
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32c6/include/soc/soc.h
  components/soc/esp32h2/include/soc/soc.h
  components/soc/esp32s2/include/soc/soc.h
  components/soc/esp32s3/include/soc/soc.h
  package.json
  tools/cmake/build.cmake
  version.txt
Due: build_docs_html_partial

fix(esp_https_server): SSL context leak when HTTPS server fails to start
  components/esp_https_server/src/https_server.c
Due: none

doc(crc): async CRC driver programming guide
  docs/conf_common.py
  docs/doxygen/Doxyfile
  docs/en/api-reference/peripherals/async_crc.rst
  docs/en/api-reference/peripherals/async_memcpy.rst
  docs/en/api-reference/peripherals/etm.rst
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/system/index.rst
  docs/page_redirects.txt
  docs/zh_CN/api-reference/peripherals/async_crc.rst
  docs/zh_CN/api-reference/peripherals/async_memcpy.rst
  docs/zh_CN/api-reference/peripherals/etm.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/system/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

Update version to 5.5.3.260313
  version.txt
Due: none

Tasmota changes
  .github/workflows/dangerjs.yml
  .github/workflows/docker.yml
  .github/workflows/release_zips.yml
  CMakeLists.txt
  components/esp_driver_dac/dac_continuous.c
  components/esp_eth/CMakeLists.txt
  components/esp_eth/include/esp_eth_phy.h
  components/esp_eth/src/phy/esp_eth_phy_jl1101.c
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/mac_addr.c
  components/esp_psram/esp32/esp_psram_impl_quad.c
  components/soc/esp32c2/include/soc/soc.h
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32c6/include/soc/soc.h
  components/soc/esp32h2/include/soc/soc.h
  components/soc/esp32s2/include/soc/soc.h
  components/soc/esp32s3/include/soc/soc.h
  components/ulp/cmake/toolchain-lp-core-riscv.cmake
  package.json
  tools/cmake/build.cmake
  tools/tools.json
  version.txt
Due: build_docs_html_partial

Update _march settings for ESP32 targets (from master for gcc 15.2)
  components/soc/project_include.cmake
Due: none

Clean up CMakeLists.txt by removing ESP32P4 checks
  components/esp_hw_support/CMakeLists.txt
Due: build_docs_html_partial

Implement Clang error for ESP32-P4 rev. 3.0
  components/esp_hw_support/CMakeLists.txt
Due: build_docs_html_partial

Refactor compiler optimization options in CMakeLists
  CMakeLists.txt
Due: none

Update version from 6.0.0.beta1 to 6.0.0
  version.txt
Due: none

Include stddef.h in lldesc.c for size definitions
  components/soc/lldesc.c
Due: none

Add time.h header for time functions
  components/fatfs/vfs/vfs_fat.c
Due: none

Add time.h header for time functions
  components/spiffs/esp_spiffs.c
Due: none

Add stddef.h include to pmu_struct.h
  components/soc/esp32p4/register/hw_ver1/soc/pmu_struct.h
Due: build_docs_html_partial
