Repository tasmota/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)

test(esp_security): Update the Key Manager test to support ESP32-P4
  components/esp_security/test_apps/crypto_drivers/main/test_key_mgr.c
  components/esp_security/test_apps/crypto_drivers/test_gen/generate_km_test_cases.py
  components/esp_security/test_apps/crypto_drivers/test_gen/init_key.bin
  components/esp_security/test_apps/crypto_drivers/test_gen/k1_xts_aes.bin
  components/esp_security/test_apps/crypto_drivers/test_gen/k2.bin
  components/esp_security/test_apps/crypto_drivers/test_gen/rand_num.bin
Due: none

test(esp_security): re-enable crypto drivers test app for ESP32P4
  components/esp_security/test_apps/.build-test-rules.yml
  components/esp_security/test_apps/crypto_drivers/pytest_crypto_drivers.py
  components/mbedtls/test_apps/.build-test-rules.yml
Due: none

fix(bootloader): prevent unsigned overflow in partition table validation
  components/bootloader_support/src/flash_partitions.c
Due: none

fix(i80_lcd): fix dma stuck with high pclk
  components/esp_lcd/i80/esp_lcd_panel_io_i80.c
Due: none

docs(protocomm): add advisory for 2 new CVE
  docs/en/security/vulnerabilities.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(nimble): Fix ble_multi_adv example to show correct UUIDs information
  examples/bluetooth/nimble/ble_multi_adv/README.md
  examples/bluetooth/nimble/ble_multi_adv/main/gatt_svr.c
  examples/bluetooth/nimble/ble_multi_adv/main/main.c
  examples/bluetooth/nimble/ble_multi_adv/main/multi_adv.h
Due: check_readme_links

fix(esp_wifi): Execute DPP event handlers in eloop context
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
Due: none

feat(esp_hw_support): esp32s31 PMU basic support
  components/esp_hal_gpio/esp32s31/include/hal/gpio_ll.h
  components/esp_hal_pmu/esp32s31/include/hal/pmu_ll.h
  components/esp_hal_pmu/esp32s31/pmu_hal.c
  components/esp_hal_pmu/include/hal/pmu_types.h
  components/esp_hw_support/port/esp32s31/CMakeLists.txt
  components/esp_hw_support/port/esp32s31/pmu_init.c
  components/esp_hw_support/port/esp32s31/pmu_param.c
  components/esp_hw_support/port/esp32s31/pmu_sleep.c
  components/esp_hw_support/port/esp32s31/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32s31/private_include/pmu_param.h
  components/esp_system/port/soc/esp32s31/clk.c
  components/hal/esp32s31/include/hal/pmu_hal.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s31/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s31/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

change(esp_hw_support): rename LP_TIMER wakeup source to RTC_TIMER
  components/esp_hw_support/include/esp_private/esp_pmu.h
  components/esp_hw_support/port/esp32c5/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32c6/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32c61/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32h2/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32h21/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32h4/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32p4/private_include/pmu_bit_defs.h
  components/esp_hw_support/port/esp32s31/private_include/pmu_bit_defs.h
Due: build_docs_html_partial

fix(esp_driver_uart): enable pad sleep clock in uart_wakeup_setup function
  components/esp_driver_uart/src/uart_wakeup.c
Due: none

fix(esp_local_ctrl): validate payload_case matches msg_type in command dispatcher
  components/esp_local_ctrl/src/esp_local_ctrl_handler.c
Due: none

docs(protocomm): recommend using security2 scheme for production purpose
  components/protocomm/Kconfig
  docs/en/api-reference/protocols/esp_local_ctrl.rst
  docs/en/api-reference/provisioning/protocomm.rst
  docs/zh_CN/api-reference/protocols/esp_local_ctrl.rst
  docs/zh_CN/api-reference/provisioning/protocomm.rst
  examples/protocols/esp_local_ctrl/main/Kconfig.projbuild
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

feat(efuse): Defer WR_DIS eFuse burning
  components/efuse/esp32/esp_efuse_utility.c
  components/efuse/esp32c2/esp_efuse_utility.c
  components/efuse/esp32c3/esp_efuse_utility.c
  components/efuse/esp32c5/esp_efuse_utility.c
  components/efuse/esp32c6/esp_efuse_utility.c
  components/efuse/esp32c61/esp_efuse_utility.c
  components/efuse/esp32h2/esp_efuse_utility.c
  components/efuse/esp32h21/esp_efuse_utility.c
  components/efuse/esp32h4/esp_efuse_utility.c
  components/efuse/esp32p4/esp_efuse_utility.c
  components/efuse/esp32s2/esp_efuse_utility.c
  components/efuse/esp32s3/esp_efuse_utility.c
  components/efuse/esp32s31/esp_efuse_utility.c
  components/efuse/include/esp_efuse.h
  components/efuse/linux/esp_efuse_utility.c
  components/efuse/src/esp_efuse_utility.c
  components/efuse/test_apps/main/test_efuse.c
  components/esp_common/src/esp_err_to_name.c
  docs/en/api-reference/system/efuse.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(nvs_flash): Use h/w accelerated AES-ECB for XTS-AES operations
  components/mbedtls/esp_tee/esp_tee_mbedtls.cmake
  components/mbedtls/port/aes/esp_aes_xts.c
  components/nvs_flash/private_include/nvs_xts_aes.h
  components/nvs_flash/src/nvs_bootloader_xts_aes.c
  components/nvs_flash/src/nvs_encrypted_partition.cpp
  components/nvs_flash/src/nvs_encrypted_partition.hpp
  components/nvs_flash/test_apps/main/CMakeLists.txt
  components/nvs_flash/test_apps/main/test_nvs.c
Due: build_docs_html_partial

fix(mbedtls): enable pthread threading by default
  components/mbedtls/Kconfig
  components/mbedtls/config/mbedtls_preset_default.conf
  docs/en/migration-guides/release-6.x/6.0/security.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(gdbstub): fix task lookup by frame
  components/esp_gdbstub/src/gdbstub.c
  tools/test_apps/system/gdbstub_runtime/main/coproc_regs.c
Due: none

fix(mbedtls): updates crypto performance numbers
  components/esp_wifi/test_apps/wifi_connect/main/app_main.c
  components/esp_wifi/test_apps/wifi_nvs_config/main/app_main.c
  components/mbedtls/esp_tee/esp_tee_mbedtls_config.h
  components/mbedtls/test_apps/include/crypto_performance.h
  components/mbedtls/test_apps/main/test_sha_perf.c
Due: build_docs_html_partial

fix(mipi_lcd): fix draw bitmap regression with dma2d
  components/esp_lcd/dsi/esp_lcd_panel_dpi.c
Due: none

refactor(app_update): Removed the common_component dependency
  components/app_update/test_apps/test_app_update/.build-test-rules.yml
  examples/system/.build-test-rules.yml
Due: none

feat(crc): added async CRC driver based on GDMA peripheral
  components/esp_driver_dma/CMakeLists.txt
  components/esp_driver_dma/Kconfig
  components/esp_driver_dma/include/esp_async_crc.h
  components/esp_driver_dma/include/esp_private/gdma.h
  components/esp_driver_dma/src/async_crc_gdma.c
  components/esp_driver_dma/src/async_memcpy_cp_dma.c
  components/esp_driver_dma/src/async_memcpy_gdma.c
  components/esp_driver_dma/src/esp_async_crc.c
  components/esp_driver_dma/src/esp_async_crc_priv.h
  components/esp_driver_dma/src/esp_async_memcpy_priv.h
  components/esp_driver_dma/src/gdma_crc.c
  components/esp_driver_dma/test_apps/dma/main/CMakeLists.txt
  components/esp_driver_dma/test_apps/dma/main/test_async_crc.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(driver_twai): fixed TWAI arbitration lost event handling
  components/esp_driver_twai/test_apps/test_twai/main/test_twai_common.cpp
  components/esp_hal_twai/include/hal/twai_hal.h
  components/esp_hal_twai/twai_hal_v1.c
  components/esp_hal_twai/twai_hal_v2.c
Due: build_docs_html_partial

change(codeowners): add CODEOWNERS entry for build-system API guide docs
  .gitlab/CODEOWNERS
Due: none

fix(wifi): fix phy rfrx gain index issue
  components/esp_rom/esp32c5/ld/esp32c5.rom.eco3.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.eco4.ld
Due: none

feat(tools): Extended hints.yml loading from components
  docs/en/api-guides/tools/idf-py.rst
  tools/idf_py_actions/debug_ext.py
  tools/idf_py_actions/tools.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

docs: Update CN translation
  docs/en/api-guides/tools/idf-py.rst
  docs/zh_CN/api-guides/tools/idf-py.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

test(tools): Added test for coponent hints loading
  tools/test_build_system/test_common.py
Due: none

change: Moved esp-tls hint to component specific hints.yml file
  components/esp-tls/hints.yml
  tools/idf_py_actions/hints.yml
Due: none

fix(esp32): Fix IRAM_AS_8BIT_ACCESSIBLE_MEMORY accessible from ISR1
  components/freertos/test_apps/freertos/port/test_xtensa_loadstore_handler.c
  components/freertos/test_apps/freertos/pytest_freertos.py
  components/freertos/test_apps/freertos/sdkconfig.ci.iram_as_8bit_access_mem
  components/xtensa/xtensa_vectors.S
  docs/en/api-reference/system/mem_alloc.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(owners): Add esp_wifi's Remote feature to be owned by network team
  .gitlab/CODEOWNERS
  components/esp_wifi/CMakeLists.txt
  components/esp_wifi/Kconfig
  components/esp_wifi/remote/CMakeLists.txt
  components/esp_wifi/remote/Kconfig.remote
  components/esp_wifi/remote/README.md
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(esp32): Fix access to MALLOC_CAP_IRAM_8BIT byte array in loop
  components/freertos/test_apps/freertos/port/test_xtensa_loadstore_handler.c
  components/xtensa/include/xtensa/xtensa_zol_macros.h
  components/xtensa/xtensa_loadstore_handler.S
  components/xtensa/xtensa_vectors.S
Due: build_docs_html_partial

refactor(hints): move driver migration hints to own components
  components/driver/hints.yml
  components/esp_adc/hints.yml
  components/esp_driver_dma/hints.yml
  components/esp_driver_gpio/hints.yml
  components/esp_driver_mcpwm/hints.yml
  components/esp_driver_sdm/hints.yml
  components/esp_eth/hints.yml
  components/esp_hal_gpspi/hints.yml
  components/esp_lcd/hints.yml
  components/esp_mm/hints.yml
  components/esp_rom/hints.yml
  components/soc/hints.yml
  tools/idf_py_actions/hints.yml
Due: none

refactor(esp_tee): Remove leftover references to the secure storage AES-GCM IV
  components/esp_tee/scripts/esp_tee_sec_stg_keygen/README.md
  components/esp_tee/scripts/esp_tee_sec_stg_keygen/esp_tee_sec_stg_keygen.py
  components/esp_tee/subproject/components/tee_sec_storage/tee_sec_storage.c
  components/esp_tee/test_apps/tee_test_fw/conftest.py
Due: none

fix(nimble): Bugfixes for various issues
  components/bt/common/btc/profile/esp/blufi/nimble_host/esp_blufi.c
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/esp-hci/src/esp_nimble_hci.c
  components/bt/host/nimble/port/include/ble_svc_gap_stub.h
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
  components/protocomm/src/simple_ble/simple_ble.c
  examples/bluetooth/nimble/ble_ancs/main/ble_ancs.c
  examples/bluetooth/nimble/ble_chan_sound_initiator/main/ble_chan_initiator.h
  examples/bluetooth/nimble/ble_cts/cts_cent/main/main.c
  examples/bluetooth/nimble/ble_gattc_gatts_coex/main/main.c
  examples/bluetooth/nimble/ble_htp/htp_cent/main/main.c
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/main/main.c
  examples/bluetooth/nimble/blecent/README.md
  examples/bluetooth/nimble/bleprph/README.md
  examples/bluetooth/nimble/common/nimble_central_utils/peer.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full
